@model Vy.Models.Passenger

<body>
    <div>
        <form action="/Home/Book" method="post">
            <table class=" table">
                <tr>
                    <td>¨Source</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Date Of Journey</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Time Of Journey</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td></td>
                </tr>



            </table>
        </form>
    </div>
</body>